<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Драйвер PostgreSQL -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <!-- URL для локального PostgreSQL -->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/weatherdb</property>

        <!-- Данные для входа -->
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">password123</property>

        <!-- Диалект PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Показывать SQL-запросы в логах -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Автоматическое создание/обновление схемы -->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- Пакет, где хранятся JPA-сущности -->
        <mapping class="org.plenkovii.model.Weather"/>
    </session-factory>
</hibernate-configuration>
